* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif; }

body {
  overflow-y: hidden; }

h1,
h2 {
  font-family: "Anton", sans-serif; }

h3 {
  font-family: "Anton", sans-serif;
  font-size: 110%;
  color: white !important; }

h4 {
  font-family: "Roboto", sans-serif;
  margin-bottom: -23px; }

p {
  font-family: "Roboto", sans-serif; }

/* LOGIN STYLES */
.auth-wrapper {
  max-width: 400px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid black; }
  .auth-wrapper .auth-controller {
    visibility: visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    align-items: center;
    transition: visibility 0.5s ease-out; }
    .auth-wrapper .auth-controller .controller {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50%;
      height: 50px;
      cursor: pointer;
      background: #e9eaea; }

.selected-controller {
  display: flex;
  justify-content: flex-end;
  width: 50%; }

.login-controller {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 50px;
  cursor: pointer;
  background: #e9eaea; }

.box-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 350px;
  width: 100%;
  min-width: 200px;
  padding: 24px; }

.login-register-wrapper {
  transition: visibility 0.2s ease-out; }

.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.input-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-bottom: 5px; }

.login-label {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 15px; }

.login-input {
  height: 10px;
  border-radius: 3px;
  border: 1px solid #e9eaea;
  transition: border 0.4s ease-out;
  padding: 13px;
  font-size: 19px;
  color: #3e3e42;
  background: rgba(15, 15, 15, 0.01); }

.login-input:hover {
  border: 2px solid grey; }

.login-input:focus {
  border: 2px solid #6565e7;
  box-shadow: 0px 0px 20px rgba(15, 15, 15, 0.2); }

.login-btn {
  padding: 2px 30px;
  width: 100%;
  height: 50px;
  font-size: 18px;
  background-color: dodgerblue;
  margin-top: 20px;
  border-radius: 40px;
  color: white;
  box-shadow: 0px 0px 0px 0.8px white !important;
  cursor: pointer; }

.login-btn:hover,
.login-btn:focus {
  background-color: black;
  color: white; }

.forgot-pwd {
  color: dodgerblue;
  margin-top: 10px;
  text-decoration: none; }

.third-party {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: bold; }

.terms {
  margin-top: 20px; }

.terms-link {
  color: dodgerblue; }

.NavBar,
.Nav,
.Menu {
  background-color: black;
  margin: -20px; }

.Nav {
  background-color: black;
  margin-right: 0px;
  display: flex; }

.rightNav {
  width: 70%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px; }
  @media screen and (max-width: 800px) {
    .rightNav {
      justify-content: flex-start; } }

.sidebar img {
  margin: 20px auto !important;
  height: 50px;
  width: 100px; }

.sidebar .closebutton {
  margin-left: 85% !important;
  margin-top: 5px; }

.search-bar {
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 3px;
  padding: 10px; }

.landingpg {
  position: relative;
  top: -5px;
  left: -5px;
  margin: -10px;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 95vh;
  background-image: url("./img/hero.png");
  background-size: cover;
  background-repeat: no-repeat; }
  @media screen and (max-width: 800px) {
    .landingpg {
      background-position: center; } }
  .landingpg img {
    margin-top: 150px;
    height: 110px;
    width: 500px;
    z-index: 1; }
    @media screen and (max-width: 800px) {
      .landingpg img {
        width: 300px;
        height: 70px; } }
  .landingpg:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom, black, 30%, transparent);
    opacity: 0.6; }

.Menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px; }
  .Menu .icon {
    background-color: black !important;
    color: white !important;
    height: 30px; }
    .Menu .icon .text {
      position: relative !important;
      top: -2px; }
    @media screen and (max-width: 800px) {
      .Menu .icon {
        display: none; } }
  .Menu .navbutton {
    font-size: 12px !important;
    padding: 17px 15px !important;
    margin: 10px 15px 10px 0px !important;
    line-height: 0.01em !important; }
    @media screen and (max-width: 800px) {
      .Menu .navbutton {
        width: 70px;
        padding: 17px 0px !important; } }
  .Menu .premium {
    font-size: 12px !important;
    padding: 12px 15px !important;
    margin: 10px 15px 10px 0px !important; }
    @media screen and (max-width: 800px) {
      .Menu .premium {
        width: 75px;
        padding: 12px 7px !important;
        text-align: center; } }
  .Menu .navbutton:first-child {
    font-size: 12px !important;
    margin-left: 20px !important;
    line-height: 0.1em !important; }
  .Menu .icon:hover {
    color: black !important;
    background-color: white !important; }

.mapview {
  width: 100vw;
  height: 90vh; }

.legend {
  width: 170px;
  z-index: 40 !important;
  position: relative !important;
  top: 60%;
  left: 85%; }
  .legend .listItem {
    display: flex !important;
    align-items: center !important; }
  .legend .notSelected {
    color: lightgrey !important; }
  .legend .wantVisit {
    color: #cd5d01 !important; }
  .legend .transited {
    color: #8fc201 !important; }
  .legend .visited {
    color: #9b016d !important; }
  .legend .lived {
    color: #017b7b !important; }

#map {
  z-index: 2;
  background: black; }

.mapContainer .leaflet-popup-content-wrapper {
  background: white;
  color: black;
  font-size: 16px;
  text-align: center; }

.loading {
  position: absolute;
  top: -15px;
  left: -17px;
  width: 110%;
  height: 100vh;
  background-color: black;
  opacity: 0.9;
  color: white;
  padding-top: 300px; }

.footer {
  position: absolute;
  bottom: 0px;
  width: 150px;
  margin: 0 auto;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
  padding: 8px 0px 5px 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }
  @media screen and (max-width: 800px) {
    .footer {
      margin-left: 10%; } }
  .footer p {
    font-size: 10px;
    margin: 5px; }
  .footer .contact {
    display: flex;
    align-items: center; }

.devTeam {
  background-color: black !important;
  border: none !important; }

a,
.devicon {
  color: white; }
  a :hover,
  .devicon :hover {
    color: white !important; }

.ui.card, .ui.cards > .card {
  background: black;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  color: white;
  border: none;
  padding: 20px; }

.ui.card > .content > .description,
.ui.cards > .card > .content > .description {
  color: white; }

.ui.card > .content > .header:not(.ui),
.ui.cards > .card > .content > .header:not(.ui) {
  color: white; }

.ui.card > .content,
.ui.cards > .card > .content {
  margin-top: 20px;
  text-align: center;
  font-size: 10px;
  text-transform: uppercase;
  font-size: 14px; }

.ui.medium.image,
.ui.medium.images .image,
.ui.medium.images img,
.ui.medium.images svg {
  padding: 25px; }

.ui.reveal {
  margin: 20px; }

.ui.small.modal {
  width: 800px; }
  @media screen and (max-width: 800px) {
    .ui.small.modal {
      width: 400px; } }

.ui.card > .content > .header + .description, .ui.card > .content > .meta + .description, .ui.cards > .card > .content > .header + .description, .ui.cards > .card > .content > .meta + .description {
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 10; }

.ui.card > .content p:last-child, .ui.cards > .card > .content p:last-child {
  font-size: 14px;
  text-transform: uppercase; }

p, .teamtext {
  font-size: 40px;
  margin-left: 40px; }
  @media screen and (max-width: 800px) {
    p, .teamtext {
      font-size: 40px;
      margin-left: 23%; } }
