{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "plugins": ["react", "jsx-a11y", "import"],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "padded-blocks": 0,
    "react/jsx-filename-extension": 0,
    "react/prop-types": 0,
    "jsx-a11y/click-events-have-key-events": 0
  }
}
