.list__btn {
  min-width: 100%;
}
.addJobModal .btn-lg {
  margin-bottom: 15px;
  width: 100%;
}
.top-section-job-modal {
  display: flex;
  justify-content: space-between;
}
.bottom-section-job-modal {
  display: flex;
}
.bottom-section-job-modal .bottom-left-section {
  flex-grow: 1;
}
.bottom-section-job-modal .bottom-right-section {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
