.BillingWrapper {
  margin: 52px;
}
.BillingWrapper .display-4 {
  font-size: 6rem;
  padding: 13px;
  border-bottom-style: solid;
  width: 100%;
}
.BillingWrapper .container {
  padding: 0px;
  margin: 0px;
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.BillingWrapper .container button {
  font-size: 2rem;
  margin-top: 15px;
  padding: 20px;
  width: 45%;
}
