.MeetupsWrapper {
  margin: 52px;
  padding-top: 13px;
}
.MeetupsWrapper .col {
  display: inline-flex;
  flex-wrap: wrap;
  padding: .5%;
  width: 20%;
}
.MeetupsWrapper .meetups--btn {
  border-radius: 50%;
  font-size: 1.5rem;
  font-weight: 900;
  margin: 10px;
}
.MeetupsWrapper .meetups--btn .meetups--btn__plus {
  margin: -3px;
}
.MeetupsWrapper .form-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.MeetupsWrapper .form-row .form-col {
  display: flex;
  align-items: center;
  margin-right: 1%;
  margin-left: 1%;
}
