.Wrapper404 {
  height: 100vh;
  width: 100vw;
}
.BadUrl404 {
  position : fixed;
  top : 0;
  left : 0;
  width : 100%;
  height : 100%;
}

.hero-image-404-2 {
  background-image: url("./404-2.jpg");
  height: 100vh;
  width: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 9999;
  height: 100vh !important;
  width: 100vw !important;
}


.hero-image-404-3 {
  background-image: url("./404-3.jpg");
  height: 100vh;
  width: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 9999;
  height: 100vh !important;
  width: 100vw !important;
}

.hero-image-404-4 {
  background-image: url("./404-4.jpg");
  height: 100vh;
  width: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 9999;
  height: 100vh !important;
  width: 100vw !important;
}
.hero-image-404-5 {
  background-image: url("./404-5.jpg");
  height: 100vh;
  width: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 9999;
  height: 100vh !important;
  width: 100vw !important;
}
.hero-image-404 {
  background-image: url("./404-2.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  color: rgba(0, 0, 0, .6);
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}