@import 'variables.sass'
@import 'mixins.sass'

.progress-view
  @include main-dm(row)
  position: absolute
  top: 130px
  padding: 0% 2.5% 0% 2.5%
  margin-left: 3%
  display: flex
  align-self: flex-start

.progress-form-container
  display: flex
  flex-flow: column no-wrap
  padding-top: 33px
  max-width: 1670px
  width: 100%

.formBox
  display: flex
  flex-direction: row
  justify-content: center
  align-items: flex-start
  flex-direction: column
  flex-wrap: wrap
  border: solid 1px $secondary-color

.progress-form
  @include form-container-dm()
  display: flex
  align-self: center
  margin: 0 auto

.progress-form-p-tag
  align-self: flex-start
  font-size: .75rem
  color: white
  font-weight: bold
  font-family: Tahoma, Verdana, sans-serif
  letter-spacing: 0.1rem

.progress-form-p-tag-3
  align-self: flex-start
  font-size: .75rem
  color: white
  font-weight: bold
  font-family: Tahoma, Verdana, sans-serif
  letter-spacing: 0.1rem
  padding-bottom: 13px
