/*Page Structure*/
.billing-page{
    display: flex;
}

.billing-main{
    display: flex;
    flex-direction: column;
    padding: 50px;

}

/*Page Content*/
.subscription-header{
    font-size: 64px;
    font-family: 'Cabin Sketch', cursive;
    font-weight:bolder;
    color: rgb(98, 139, 151);
}

.billing-form-container{
    margin-top: 25px;
    padding: 25px;
    border-radius: 5px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight:normal;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    background-color:rgb(255, 255, 255);
    color: black;
}

.billing-form{
    display: flex;
    flex-direction: column;
}

.billing-form-item{
    margin-bottom: 15px;
    padding-left: 5px;
}

.billing-form-item:first-child{
    margin-top: 15px;
}

