

.SingleRecipe {
    display: flex
}
.single-recipe-page-container{
    width:80%;
    display:flex;
    flex-direction:column;
    background-color: rgba(233, 221, 219, 0.164);
}
.single-recipe-no-show{
    display:none;
}
.iframe-no-show{
    display:none;
}
.iframe-show{
    width:100%;
    height:100vh;
}
.edge-case{
    width:90%;
    margin:100px auto;
    background-color: rgba(128, 113, 97, 0.123);
    border-radius:2px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2); 
    padding-top:8px;
    padding-bottom:8px;
}
.single-recipe-error-container{
    background-color:white;
    width:94%;
    margin:0px auto;
    padding:8px 2%
}
.single-recipe-error-header{
    font-family: 'Barlow Semi Condensed', sans-serif;
   font-weight:normal;
   width:80%;
   margin:20px auto;

}
.single-recipe-error-link{
    width:65%;
    margin:40px auto;
    font-size:18px;
    padding-top:15px;
    height:40px;
    border-radius:3px;
    background-color:rgb(52, 98, 112);
    color:white;
    font-weight:bolder;
    cursor:pointer;
    text-align:center;
    font-family: 'Barlow Semi Condensed', sans-serif;
    text-transform: uppercase;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  
}
.recipe-error-a{
    text-decoration: none;
    color:white;
    cursor: pointer;
}
.edge-case-no-show{
    display:none;
}
.single-recipe-page-sub{
    width:90%;
    display:flex;
    justify-content: space-between;
    margin:0px auto;
    padding-top:80px;
}
.single-recipe-page-sub-none{
    display:none;
}
@media screen and (max-width:800px){
    .SingleRecipe{
        flex-direction: column;
    }
    .single-recipe-page-container{
        width:100%;
        padding-bottom:60px;
    }
    .single-recipe-page-sub{
        flex-direction:column;
    }
    .iframe-show{
        width:100%;
        height:100vh;
    }
}
.column-one{
    display:flex;
    flex-direction:column;
    width:59%;
}
@media screen and (max-width:800px){
    .column-one{
        width:100%;
    }
}
.column-one-sub{
    background-color: rgba(128, 113, 97, 0.123);
    border-radius:2px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2); 
    padding-top:8px;
    padding-bottom:8px;
}
.name-and-link-container{
    width:98%;
    margin:0px auto;
    display:flex;
    justify-content: space-between;
    background-color:white;
    margin-bottom:8px;
    
}
.single-recipe-name{
    width:68%;
    font-size:44px;
    text-align:center;
    font-weight:bolder;
    color: #5B8E9E;
    font-family: 'Cabin Sketch', cursive;
    margin-top:20px;
    margin-bottom:20px;
}
@media screen and (max-width:1100px){
    .single-recipe-name{
        font-size:38px;
    }
}
.single-recipe-link{
    width:25%;
    font-size:18px;
    padding-top:15px;
    height:40px;
    border-radius:3px;
    background-color:rgb(52, 98, 112);
    color:white;
    font-weight:bolder;
    cursor:pointer;
    text-align:center;
    font-family: 'Barlow Semi Condensed', sans-serif;
    text-transform: uppercase;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    margin-bottom:20px;
    margin-top:20px;
    margin-right:3%;
}
.image-and-schedule-container{
    background-color:white;
    width:98%;
    margin:0px auto;
    display:flex;
}
.single-recipe-image-container{
    width:55%;
    margin:8px auto;
}
.recipe-image{
    width:100%;
    height:260px;
    border:4px solid rgb(98, 139, 151);
    border-radius:2px;
}
@media screen and (max-width:1100px){
    .recipe-image{
        height:230px;
    }
}
@media screen and (max-width:1000px){
    .recipe-image{
        height:200px;
        width:98%;
    }
}
@media screen and (max-width:925px){
    .recipe-image{
        height:180px;
    }
}
@media screen and (max-width:800px){
    .recipe-image{
        height:240px;
    }
}
@media screen and (max-width:550px){
    .recipe-image{
        height:200px;
    }
}
@media screen and (max-width:450px){
    .recipe-image{
        height:180px;
    }
}
.scheduled-container{
    width:40%;
    display:flex;
    flex-direction:column;
    background-image:url('https://images.fabric.com/images/693/693/0473337.jpg');
    margin:8px auto;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
.cookbook-img{
    margin:0px auto;
    height:60px;
    width:60px;
    margin-top:40px;
    margin-bottom:20px;
}
.single-recipe-tag{
    margin:0px auto;
    color:white;
    text-align:center;
    font-family: 'Cabin Sketch', cursive;
    text-transform: capitalize;
    font-size:36px;
}
.single-recipe-date{
    margin:0px auto;
    color:white;
    text-align:center;
    font-family: 'Cabin Sketch', cursive;
    text-transform: capitalize;
    font-size:36px;
    margin-top:20px;
}
@media screen and (max-width:1000px){
    .scheduled-container{
        width:38%;
    }
    .cookbook-img{
        height:45px;
        width:45px;
        margin-top:16px;
        margin-bottom:16px;
    }
    .single-recipe-tag{
        font-size: 26px;
    }
    .single-recipe-date{
        font-size:26px;
        margin-top:16px;
    }
}
@media screen and (max-width:450px){
    .cookbook-img{
        margin-top:20px;
    }
}
.recipe-and-ingredients{
    display:flex;
    justify-content: space-between;
    width:98%;
    margin:0px auto;
    margin-top:8px;
    background-color:white;
    border-radius:2px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    padding-bottom:30px;
   
}
.single-recipe-info{
    width:29%;
    display:flex;
    flex-direction: column;
   margin-top:8px;
   margin-bottom:8px;
   padding-right:4%;
   border-right:1px solid rgba(199, 198, 198, 0.336);
    
}
.recipe-info-main-header{
    font-size:24px;
    font-weight:normal;
    margin:0px  auto;
    margin-top:8px;
    margin-bottom:20px;
 
}

.single-recipe-info-sub{
    width:90%;
    display:flex;
    flex-direction: column;
    margin:0px auto;
    justify-content: space-around;
}
.recipe-info-header{
    font-weight: bold;
    font-size:18px;
    margin-top:10px;
  
}
.recipe-info{
    text-align: center;
}
.recipe-ingredients-container{
    width:69%;
    margin-left:12%;
}
.recipe-ingredients-header{
    font-size:24px;
    font-weight:normal;
    margin-top:16px;
    text-align:center;
}
.ingredient{
    display: list-item;                                           
    list-style-type: disc;       
    list-style-position: inside;
    font-size:16px;
}

.column-two{
    width:39%;
   
}
.column-two-sub{
    background-color: rgba(128, 113, 97, 0.123);
    border-radius:2px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2); 
    padding-top:8px;
    padding-bottom:8px;
}
.recipe-directions-container{
    width:90.5%;
    border-radius:2px;
    margin:0px auto;
    background-color:white;
    padding:0px 3%;
    padding-bottom:30px;
    font-family: 'Barlow Semi Condensed', sans-serif;
}
@media screen and (max-width:800px){
    .column-two{
        width:100%;
        margin-top:16px;
    }
    .recipe-directions-container{
        padding:0px 2%;
        width:94%;
        padding-bottom:30px;
    }
}
.directions-header{
    margin-top:0px;
    padding-top:24px;
    font-size:24px;
    font-weight:normal;
    text-align:center;
}
.direction{
    display: list-item;                                           
    list-style-type: disc;       
    list-style-position: inside;
    font-size:18px;
    margin-top:16px;
    cursor:pointer;
}
.selected-direction{
    display: list-item;                                           
    list-style-type: disc;       
    list-style-position: inside;
    font-size:18px;
    margin-top:16px;
    color:rgb(170, 67, 76);
    text-decoration:line-through;
    cursor:pointer;
}
/* @media screen and (max-width:1000px){
    .direction{
        font-size:16px;
    }
} */