@import '../styles/variables';

.form-container {
  height: 100vh;
  display: flex;
  flex-direction: column;

	@media #{$desktop} {
		min-height: calc(100vh - 443px);
	}

	h1 {
		font-size: 2rem;

		margin-bottom: .5rem;
	}
}

.formz {
	flex: 1 0 auto;
}

form {
	display: flex;
	justify-content: center !important;
	align-items: center !important;
	flex-direction: column;
	

	fieldset {
		display: flex;
		justify-content: center !important;
		align-items: center !important;
		flex-direction: column;
		text-align: center;

		label {
			font-size: 1.5rem;
			font-weight: bold;
			color: $tree-green;
			display: block;
		}

		input {
			border: none;

			font-size: 1.5rem;
			line-height: 2rem;

			margin: 3% 0;

			border-bottom: 3px solid #999999;
		}

		input:focus {
			border-bottom: 3px solid $tree-light-green;
		}
	}

	.register,
	.login-errors {
		text-align: center;

		color: $tree-green;

		p {
			margin: 0;
		}

		.reg-link {
			text-decoration: underline;
			color: $tree-green;
		}
	}

	.login-errors,
	.register-errors {
		margin-top: 1rem;

		color: $tree-brown;
		font-weight: bold;
	}

	button {
		width: 200px;

		font-size: 1.5rem;
		line-height: 3rem;

		border: 1px solid transparent;

		border-radius: 7px;
		color: white;
		background-color: $tree-green;

		margin: 0 auto;
	}

	button:hover {
		cursor: pointer;

		background-color: lighten($tree-green, 10%);
	}
}
