.landing {
  margin: auto;
  font-family: Camphor, Open Sans, Segoe UI, sans-serif;
}

.hr-landing {
  border-bottom: 1px solid #d8d8d8;
}

.welcome-container {
  width: 800px;
  height: 500px;
  margin: auto;
  background-color: white;
  border: 1px solid #ebebeb;
}

.create-decision-home {
  margin-top: 20px;
}

/* image */

.image-container {
  /* background-color: #eef7fa; */
  height: 600px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.image {
  margin: auto;
  margin-top: 110px;
  height: 450px;
}

.slogan {
  font-size: 40px;
  line-height: 30px;
  margin-bottom: 30px;
  letter-spacing: 2px;
  margin-top: 180px;
  text-align: left;
}

.description-container {
  width: 470px;
  text-align: left;
}

.description {
  color: #505050;
  font-size: 17px;
  line-height: 30px;
  width: 440px;
  padding-bottom: 40px;
}

.buy-container {
  background-color: #ffa500;
  width: 200px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  box-shadow: 4px 4px 20px 0.5px #dcdcdc;
}

.buy {
  color: white;
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 14px 58px 14px 58px;
}

.or {
  padding-top: 20px;
  padding-left: 85px;
  color: gray;
  font-size: 14px;
}

.freeuser-container {
  padding-top: 10px;
  padding-left: 5px;
}

.freeuser {
  color: #ffa500;
}

/* Pricing */

.pricing-container {
  padding-top: 80px;
  padding-bottom: 100px;
}

.pricing-title {
  font-size: 40px;
  padding-bottom: 40px;
}

.pricing-options {
  display: flex;
  justify-content: space-around;
  margin: auto;
  width: 900px;
}

.options {
  width: 250px;
  height: 380px;
  border-radius: 12px;
  /* background-color: #F0F0F0; */
  border-style: solid;
  border-width: 1px;
  display: inline-block;
}

h1 {
  font-size: 25px;
  margin-top: 40px;
  font-weight: 800;
}

h3 {
  font-size: 80px;
  color: orange;
  margin-top: 10px;
  margin-bottom: 5px;
}

p {
  font-size: 30px;
  margin-bottom: 40px;
}

.pricing-buy {
  margin: auto;
}

.footer {
  /* background-color: #eef7fa; */
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 10px;
}
