.AdminSchedule {
    padding-right: 4%;
    padding-bottom: 5%;
}
.ScheduleHeader {
    color: rgb(255, 255, 255, 0.5);
    
}

.AdminCalendar {
    margin-top: 0%;
    background-color: white;
    padding: 3%;
}

.todayA {
    margin-bottom: 8%;
    
}