
.CalendarPage{
    display:flex;
}
.calendar-page-container{
    width:80%;
    display:flex;
    flex-direction:column;
    background-color: rgba(233, 221, 219, 0.164); 
}
@media screen and (max-width:800px){
    .CalendarPage{
        flex-direction:column;
    }
    .calendar-page-container{
        width:100%;
    }
}
.calendar-page-sub-container{
    width:90%;
    margin:0px auto;
}
.calendar-intro-container{
    width:100%;
    margin:0px auto;
    margin-bottom:40px;
    margin-top:50px;
}
.calendar-page-header{
    text-align:center;
    font-size:72px;
    margin:0px auto;
    margin-top:25px;
    font-family: 'Cabin Sketch', cursive;
    font-weight:bolder;
    color: rgb(98, 139, 151);
}
.calendar-page-p{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight:normal;
    font-size: 20px;
    width:25%;
    text-align:center;
    padding:0px 4%;
    padding-top:40px;
    background-color:white;
    border-radius: 2px;
    margin-right:1%;
    margin-top:0px;
    margin-bottom:0px;
    
}
@media screen and (max-width:1000px){
    .calendar-page-header{
        font-size:64px;
    }
    .calendar-page-p{
        font-size:18px;
    }
}

@media screen and (max-width:500px){
    .calendar-intro-container{
        margin-bottom: 15px;
    }
    .calendar-page-header{
        font-size:52px;
        margin-top:15px;
    }
}
.calendar-row{ 
    display:flex;
    justify-content:space-between;
    margin:0px auto;
    padding:10px 1%;
    border-radius: 2px;
    background-color: rgba(128, 113, 97, 0.123); 
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);

}
.calendar-housing{
    width:68%;
    margin:0px auto;
    border-radius:2px;
}
.react-calendar{
   width:100%;
}
@media screen and (max-width:600px){
    .calendar-page-header{
        margin-top:-20px;
        margin-bottom:-20px;
    }
    .calendar-page-p{
        width:92%;
        margin-top:0px;
        margin-bottom:10px;
        font-size:16px;
        padding:8px 4%;;
    }
    .calendar-housing{
        width:100%;
    }
    .calendar-row{
        flex-direction:column;
    }
}
@media screen and (max-width:500px){
    .calendar-page-header{
        margin-bottom:0px;
    }
}

.react-calendar__navigation__label, .react-calendar__navigation__arrow{
    font-size:14px;
    padding-bottom:5px;
    font-weight:bolder;
    color:white;
}
.react-calendar__navigation{
    background-color:rgb(52, 98, 112);
}

.react-calendar__month-view__weekdays__weekday{
    text-decoration: underline;
    border:none;
}
.react-calendar__tile{
    color:black;
    font-size:12px;
}
.react-calendar__tile--active{
    color:white;
    font-weight: bold;
     background-color:rgb(52, 98, 112);
     border-radius:2px;
 }
.calendar-recipe-section{
    width:100%;
    display:flex;
    justify-content: space-between;
    margin:0px auto;
    margin-top:20px;
    border-radius: 2px;
    padding-top:8px;
    padding-bottom:8px;
    background-color: rgba(128, 113, 97, 0.123); 
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
@media screen and (max-width:1000px){
    .calendar-recipe-section{
        flex-direction:column;
    }
}
.recipe-search-section{
    display:flex;
    flex-direction:column;
    width:40%;
    margin-left:1%;
    background-color:white;
    border-radius:2px;
    padding:15px 0%;
    
}
.recipe-search{
    display:flex;
    flex-direction:column;
    width:100%;
   
}
.recipe-search-input{
    height:20px;
    width:90%;
    margin:0px auto;
}
.calendar-recipe-list{
    border:2px solid rgba(128, 113, 97, 0.123);
    margin:20px auto;
    width:86%;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight:normal;
    font-size:18px;
    padding:10px 2%;
}
.searched-recipe{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight:normal;
    font-size:18px;
    padding:4px 1%;
    cursor:pointer;
}
.selected-recipe-container{
    background-image:url('https://images.fabric.com/images/693/693/0473337.jpg');
    display:flex;
    width:90%;
    margin:0px auto;
    border-radius:2px;
    justify-content:space-around;
    padding:10px 0%;
    color:white;
    font-family: 'Barlow Semi Condensed', sans-serif;
    border:2px solid rgb(52, 98, 112);
}
.selected-recipe-header{
    margin:5px 1%;
    font-size:26px;
    font-weight:bold;
    text-transform:uppercase;
    letter-spacing:0.3px;
}
.selected-recipe-name{
    font-weight:normal;
    font-size:26px;
    margin:5px 1%;
}
@media screen and (max-width:600px){
    .selected-recipe-header{
        font-size:20px;
    }
    .selected-recipe-name{
        font-size:20px;
    }
}
@media screen and (max-width:500px){
    .selected-recipe-header{
        font-size:18px;
    }
    .selected-recipe-name{
        font-size:18px;
    }
}
@media screen and (max-width:1000px){
    .recipe-search-section{
       width:98%;
       margin-bottom: 30px;
       padding:20px 0%;
    }
}
@media screen and (max-width:500px){
    .recipe-search-section{
        margin-bottom:0px;
    }
}
.servings-and-edit-section{
    display:flex;
    width:57%;
    justify-content: space-between;
    margin-right:1%;
}
.servings-and-duplicate-container{
    width:39.2%;
    background-color:white;
    border-radius:2px;
    display:flex;
    flex-direction:column;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight:normal;
    font-size:18px;
    padding:10px 2%;
    text-align:center;
}

.check-box-p{
    padding-top:10px;
    margin-bottom:0px;
}
.edit-recipe-section{
    width:55%;
    background-color:white;
   
    border-radius:2px;
    display:flex;
    flex-direction:column;
}
.calendar-tag-header{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight:normal;
    font-size:20px;
    text-align:center;
}
.calendar-meal-tag-button-section{
    margin-top:-10px;
}
.calendar-meal-tag{
    width:85%;
    background-color:rgb(87, 144, 161);
    color:white;
    margin:0px  auto;
    margin-bottom:15px;
    padding:8px 0%;
    border-radius:2px;
    text-align:center;
    cursor:pointer;
    font-size:18px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    text-transform:uppercase;
    font-weight:bold;
}
.calendar-meal-tag-sub{
    width:90%;
    display:flex;
    margin:0px auto;
    justify-content: space-around;
}
.calendar-meal-tag-icon{
    width:40px;
    height:40px;
    margin-top:10px;
}
.calendar-selected{
    background-color: rgb(52, 98, 112);
}
@media screen and (max-width:1000px){
    .servings-and-edit-section{
        width:98%;
        margin:0px auto;
        margin-top:-20px;
    }
}
@media screen and (max-width:500px){
    .servings-and-duplicate-container{
        display:none;
    }
    .edit-recipe-section{
        display:none;
    }
}
.servings-and-edit-section-mobile{
    display:flex;
    width:90%;
    margin:0px auto;
    justify-content: space-between;
    margin-top:20px;
}
.calendar-edit-header-mobile{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight:normal;
    font-size:22px;
    cursor:pointer;
}
.calendar-tag-header-mobile{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight:normal;
    font-size:22px;
    cursor:pointer;
    margin-top:26px;
}
@media screen and (min-width:501px){
    .servings-and-edit-section-mobile{
        display:none;
        
    }
}
.servings-modal-closed{
    display:none;
}
.tag-modal-closed{
    display:none;
}
.servings-modal-open{
    position:fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(14, 21, 24, 0.87);
}
.tag-modal-open{
    position:fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(14, 21, 24, 0.87);
}
.calendar-servings-modal{
    position:fixed;
    background: white;
    padding-top:15px;
    margin-top:15px;
    width: 70%;
    padding:10px 2%;
    padding-bottom:40px;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    display:flex;
    flex-direction:column;
    border-radius:5px;
    border:5px solid rgb(52, 98, 112);
    text-align: center;
}
.close-calendar-servings{
    font-weight:bold;
    margin-right:5%;
    text-align:right;
    font-size:20px;
    cursor:pointer;
}
.calendar-servings-p-mobile{
    text-align:center;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size:18px;
    font-weight:bold;
}
.calendar-duplicate-p-mobile{
    text-align:center;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size:18px;
    font-weight:bold;
}
.check-box-mobile{
    margin:0px auto;
}
.calendar-servings-input-mobile{
    width:70%;
    margin:0px auto;
    height:25px;
}
.calendar-tag-modal{
    position:fixed;
    background: white;
    padding-top:15px;
    margin-top:15px;
    width: 70%;
    padding-bottom:30px;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    display:flex;
    flex-direction:column;
    border-radius:5px;
    border:5px solid rgb(52, 98, 112);
    text-align: center;
}
.close-calendar-tag-mobile{
    font-weight:bold;
    margin-right:5%;
    text-align:right;
    font-size:20px;
    cursor:pointer;
    margin-bottom:30px;
}
.calendar-meal-tag-mobile{
    display:flex;
    justify-content:space-around;
    margin:0px auto;
    background-color:rgb(91, 142, 158);
    width:80%;
    margin-bottom:10px;
    border-radius:2px;
    cursor:pointer;
    color:white;
    font-size:24px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    text-transform:uppercase;
    font-weight:bold;
}
.calendar-mobile-selected{
    background-color: rgb(52, 98, 112)
}
.save-button{
    width: 30%;
    margin:40px auto;
    padding:15px 0%;
    background-color:rgb(52, 98, 112);
    color:white;
    font-weight:bold;
    text-align:center;
    border-radius:3px;
    font-size:30px;
    margin-bottom: 40px;
    cursor:pointer;
    font-family: 'Barlow Semi Condensed', sans-serif;
   text-transform: uppercase;
}
@media screen and (max-width:800px){
    .save-button{
        width:50%;
        font-size:26px;
        padding:12px 0%;
    }
} 

.navigate-modal-closed{
    display:none;
}
.navigate-modal-open{
    position:fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(14, 21, 24, 0.87);
}
.navigate-modal{
    position:fixed;
    background-color:rgb(255, 255, 255);
    width: 80%;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    display:flex;
    flex-direction:column;
    border-radius:5px;
    border:5px solid rgb(52, 98, 112);
    text-align: center;
    padding:30px 2%;
}
.navigate-modal-header{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size:24px;
}
.navigate-button-container{
    display:flex;
    flex-direction: column;
}
.leave-button{
    text-decoration:none;
    margin:0px auto;
    background-color:rgb(91, 142, 158);
    width:45%;
    padding:15px 1%;
    margin-bottom:10px;
    margin-top:20px;
    border-radius:3px;
    cursor:pointer;
    color:white;
    font-size:24px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    
   
}
.stay-button{
    background-color:rgb(170, 67, 76);
    margin:0px auto;
    width:45%;
    padding:15px 1%;
    margin-bottom:30px;
    margin-top:20px;
    border-radius:3px;
    cursor:pointer;
    color:white;
    font-size:24px;
    font-family: 'Barlow Semi Condensed', sans-serif;
}
