.Landing-Page{
   width: 100%;
   background-color: rgba(220, 208, 206, 0.281); 
   height:1300px; 
}
@media screen and (max-width:800px){
    .Landing-Page{
        height:800px;
    }
}
.landing-page-background{
    background-image: url('https://images.pexels.com/photos/1640774/pexels-photo-1640774.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=600&w=700');
    border-radius:5px;
    height:800px;
    width:80%;
    margin:0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
@media screen and (max-width:800px){
    .landing-page-background{
        width:100%;
        margin-top:80px;
        background-image: url('https://images.pexels.com/photos/1640774/pexels-photo-1640774.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=700&w=700');
        height:900px;
    }
}
.landing-page-nav-bar{
    width:80%;
    background-color:rgba(255, 255, 255, 0.938);
    position:absolute;
    top:0;
    display:flex;
    justify-content: space-between;
    height:110px;
    margin-left:10%;
}
@media screen and (max-width:800px){
   .landing-page-nav-bar{
       width:100%;
       margin-left:0%;
       height:80px;
   }
}
.social-media-container{
    width:20%;
    display:flex;
    justify-content:space-between;
    margin-top:10px;
    margin-left:10px;
}
@media screen and (max-width:650px){
    .social-media-container{
        width:23%;
    }
}
@media screen and (max-width:500px){
    .social-media-container{
        display:none;
    }
}

.fab{
    color:rgb(255, 255, 255);
    font-size:22px;
    height:30px;
    width:30px;
    background-color:rgb(98, 139, 151);
    border-radius:100%;
    padding-top:10px;
    padding-left:10px;
}
@media screen and (max-width:1100px){
    .fab{
        font-size:18px;
        width:25px;
        height:25px;
        padding-top:8px;
        padding-left:8px;
    }
 }
 @media screen and (max-width:900px){
     .fab{
         font-size:16px;
         width:23px;
         height:23px;
         padding-top:7px;
         padding-left: 7px;
     }
 }
 @media screen and (max-width:650px){
     .fab{
        width:20px;
        height:20px;
        padding-top:5px;
        padding-left:5px;
     }
 }
.landing-logo-container{
    display:flex;
}
.landing-header{
    font-size:86px;
    margin-left:2%;
    font-weight:400;
    margin-top:-5px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight:bolder;
    color:rgb(98, 139, 151);
}
.landing-logo{
    height:80px;
    margin-top:10px;
   
}

 @media screen and (max-width:800px){
   .landing-header{
       font-size:62px;
       margin-top:-3px;
   }
   .landing-logo{
       height:56px;
       margin-top:8px;
   }
}
@media screen and (max-width:500px){
    .landing-logo-container{
       width:50%;
       margin:0px auto;
       margin-left:25%;
    }
    .landing-header{
        font-size:62px;
       
    }
}
.landing-page-nav-buttons{
  width:18%;
  margin-right:2%;
  margin-top:-98px;
  color:black;
  display:flex;
  flex-direction:column;
  justify-content: space-around;
  text-align:right;
  font-family: 'Barlow Semi Condensed', sans-serif;
}
.login-button, .registration-button{
    cursor:pointer;
    margin-bottom:0px;   
    font-size:22px;
    padding-top:20px;
}
@media screen and (max-width:1100px){
    .login-button, .registration-button{
        font-size:18px;
        padding-top:10px;
    }
}
@media screen and (max-width:800px){
    .login-button, .registration-button{
        font-size:18px;
        padding-top:40px;
    }
}
@media screen and (max-width:500px){
    .login-button, .registration-button{
        display:none;
    }
}
.landing-page-body{
    width:100%;
}
@media screen and (max-width:800px){
    .landing-page-body{
        display:flex;
        flex-direction: column-reverse;
        margin-top:-300px;
    }
}
.landing-blurb-container{
    width:65%;
    margin: 0px auto;
    margin-top:-600px;
    background-image: url('https://images.fabric.com/images/693/693/0473337.jpg');
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius:5px;
    padding:30px 0%;
}
@media screen and (max-width:800px){
   .landing-blurb-container{
       width:60%;
       margin:0px auto;
       padding:10px 0%;
        background-image:none;
        box-shadow:none;
   }
}
.landing-blurb-sub-container{
    width:92%;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    background-color:rgba(255, 255, 255, 0.945);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    text-align:center;
    margin:0px auto;
    border:3px solid rgb(52, 98, 112);
}
@media screen and (max-width:800px){
    .landing-blurb-sub-container{
        padding:20px 0%;
        border:none;
        box-shadow:none;
        background-color:rgba(255, 255, 255, 0);
    }
}
.landing-blurb-header{
    color:rgb(98, 139, 151);
    font-size:44px;
    margin:20px auto;
    font-family: 'Cabin Sketch', cursive;
    letter-spacing:-1px;
    width:80%;
    border-bottom: 3px solid rgb(98, 139, 151);
 }
@media screen and (max-width:800px){
    .landing-blurb-header{
        font-size:28px;
        margin:10px auto;
        display:none;
    }
}
.landing-page-blurb{
    padding:0px 10%;
    font-size:18px;
    font-weight:200;
    font-family: 'Barlow Semi Condensed', sans-serif;
}
@media screen and (max-width:800px){
    .landing-page-blurb{
       display:none;
    }
}
.get-started-button{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size:22px;
    color:white;
    width:40%;
    margin:0px auto;
    margin-bottom:20px;
    background-color:rgb(98, 139, 151);
    padding-bottom:15px;
    padding-top:15px;
    border-radius:5px;
    cursor:pointer;
}
@media screen and (max-width:800px){
    .get-started-button{
        width:70%;
        font-size:26px;
        margin-bottom:5px;
        padding:20px 0%;
    }
}
@media screen and (max-width:650px){
    .get-started-button{
        width:80%;
    }
}
@media screen and (max-width:500px){
    .get-started-button{
        display:none;
    }
}
.how-it-works-section{
    width:80%;
    margin:0 auto;
    margin-top:100px;
    padding-top:60px;
    display:flex;
    flex-direction:column;
    font-size:42px;
  
}
@media screen and (max-width:800px){
    .how-it-works-section{
        margin-top:-560px;
    }
}
@media screen and (max-width:500px){
    .how-it-works-section{
        display:none;
    }
}
.how-it-works-header{
    text-align: center;
    margin-top: 80px;
    margin-bottom:40px;
    font-size:72px;
    letter-spacing:1px;
    font-family: 'Cabin Sketch', cursive;
    color: rgb(98, 139, 151);
 
}
@media screen and (max-width:1000px){
    .how-it-works-header{
        margin-top:20px;
        margin-bottom:20px;
        font-size:56px;
    }
}
@media screen and (max-width:900px){
    .how-it-works-header{
        margin-top:0px;
    }
}
@media screen and (max-width:860px){
    .how-it-works-header{
        margin-top: -10px;
    }
}
@media screen and (max-width:800px){
    .how-it-works-header{
        display:none;
    }
}
.how-it-works-sub-container{
    display:flex;
    justify-content: space-between;
    
}
@media screen and (max-width:800px){
    .how-it-works-sub-container{
        flex-direction:column;
        justify-content: flex-start;
        width:80%;
        margin:0px auto;
        margin-top:-10px;
    }
}
@media screen and (max-width:650px){
    .how-it-works-sub-container{
        width:90%;
    }
}
.sub-blurb{
    width:32%;
    background-color:white;
    border-radius:5px;
    display:flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
@media screen and (max-width:800px){
    .sub-blurb{
        width:90%;
        margin:0 auto;
        margin-bottom:30px;

    }
}
.mini-blurb-header-container{
    background-image:url('https://images.fabric.com/images/693/693/0473337.jpg');
    border-radius: 5px 5px 0px 0px;
    width:100%;
    margin:0px auto;
}
.sub-container{
    color:white;
    display:flex;
    justify-content:space-around;
}
.mini-blurb-img{
    height:40px;
    width:40px;
    padding-top:20px;
    margin-right:5%;
    color:white;
}
@media screen  and (max-width:900px){
    .mini-blurb-img{
        height:30px;
        width:30px;
        padding-top:25px;
    }
}
@media screen and (max-width:800px){
    .mini-blurb-img{
        height:40px;
        width:40px;
        padding-top:15px;
    }
}
@media screen and  (max-width:650px){
    .mini-blurb-img{
        height:35px;
        width:35px;
        padding-top:10px;
        padding-bottom:15px;
    }
}
.mini-blurb-header{
    font-size:22px;
    text-align:center;
    margin-top:25px;
    width:75%;
    font-family: 'Barlow Semi Condensed', sans-serif;
  
}
@media screen and (max-width:1100px){
    .mini-blurb-header{
        font-size:20px;
    }
}
@media screen and (max-width:900px){
    .mini-blurb-header{
        font-size:18px;
    }
    .fas{
        font-size:20px;
    }
}
@media screen and (max-width:800px){
    .mini-blurb-header{
        font-size:24px;
        margin-top:20px;
        margin-bottom: 20px;
    }
   
}
@media screen and (max-width:650px){
    .mini-blurb-header{
        font-size:22px;
        margin-top:15px;
        margin-bottom: 10px;
        width:80%;
    }
}
.mini-blurb-p{
    font-size:20px;
    font-weight:200;
    font-family: 'Barlow Semi Condensed', sans-serif;
    padding:15px 10%;
}
@media screen and (max-width:900px){
    .mini-blurb-p{
        font-size:18px;
        padding:5px 5%;
    }
}
@media screen and (max-width:650px){
    .mini-blurb-p{
        font-size:16px;
        
    }
}


/*Modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(14, 21, 24, 0.87);
}

.modal-main {
    position:fixed;
    background: white;
    padding-top:15px;
    margin-top:15px;
    width: 40%;
    padding-bottom:60px;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    display:flex;
    flex-direction:column;
    border-radius:5px;
    border:5px solid rgb(52, 98, 112);
}
@media screen and (max-width:800px){
    .modal-main{
        width:60%;
    }
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}
.login-header{
    width:75%;
    text-align:center;
    margin:0px auto;
    margin-top:30px;
    font-size:28px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    
}
@media screen and (max-width:800px){
    .login-header{
        font-size:22px;
        margin-top:20px;
        margin-bottom:-20px;
    }
}
.x-box{
    background-color:rgb(52, 98, 112);;
    width:8%;
    height:28px;
    margin-left:88%;
    text-align:center;
    color:white;
    font-weight:bolder;
    font-size:20px;
    border-radius: 5px;
    padding-top:4px;
}
.close-registration-x{
    cursor:pointer;
}
.google-facebook-container{
    margin: 0px auto;
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:space-between;   
}
.google-login{
   width:50%;
   border-radius:5px;
   margin-left:25%;
   text-align:center;
   margin-top:50px;
   
}
.facebook-login{
    width:50%;
    border-radius:3px;
    margin-left:25%;
    text-align:center;
    color:white;
    background-color:rgb(27, 51, 156);
    margin-top:30px;
    height: 50px;
}
.mobile-login-portal{
    background-image:url('https://images.fabric.com/images/693/693/0473337.jpg');
    width:60%;
    margin:0px auto;
    margin-top:-500px;
    border-radius:5px;
    padding:20px 4%; 
}
.mobile-login-sub-container{
    background-color:white;
    border-radius:5px;
    padding-top:40px;
    padding-bottom:60px;
    border:3px solid rgb(52, 98, 112);

}
.mobile-login-header{
    width:80%;
    margin:0 auto;
    text-align:center;
    color:rgb(98, 139, 151);
    font-size:44px;
    font-family: 'Cabin Sketch', cursive;
}
@media screen and (min-width:500px){
    .mobile-login-portal{
        display:none;
    }
}
