.Pricing__card {
  text-align: center;
}

.Pricing__card--feature {
  text-align: center;
  transform: scale(1.05);
  background: red;
}

.Pricing__cardDescription {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.Pricing__cardDescription--text {
  padding-bottom: 0.5em;
}
