.login-error {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 14px;
  color: red;
}

.signin-title {
  font-weight: 400;
  color: #303030;
  font-size: 25px;
  padding-bottom: 15px;
}

.signinpage-container {
  padding-top: 80px;
}

.signin-form {
  width: 400px;
  padding: 20px;
  margin: auto;
  background-color: white;
  border: 1px solid #ebebeb;
}

.signin-labels {
  text-align: left;
  padding-top: 10px;
}

.hr-signin {
  padding: 10px;
}
