.jobDeleteModal {
  padding: 5% 10%;
  margin: 5% auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(49, 98, 136, 1);
  border: 1px solid rgb(0, 0, 0, .25);
  /* background: #7a7d7d; */
  border-radius: 5px;
  width: 350px;
  height: 250px;
  max-width: 500px;
  text-shadow: 1px 1px 2px #0b3b4b;
}

.jobDeleteModal h1 {
    padding-top: 15px;
    color: #ffeedb;
    width: 150%;
    text-align: center;
}

.jobDeleteModal .deleteButton {
  /* border: 2px solid #ffeedb; */
  border: #0006 solid 1px;
  border-radius: 3px;
  /* background-color: #40798c; */
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
  width: auto;
  height: 32px;
  margin: 10px 25px;
  font-size: 17px;
  /* float: right; */
  /* color: #ffeedb; */
  box-shadow: 3px 3px 5px #063250;
}

.jobDeleteModal .deleteButton:hover {
  cursor: pointer;
  background-color: #ffeedb;
  color: black;
}
