@import mixins.sass

@import variables.sass




.schedule-title
    margin: 0
.event-check
    display: flex
    flex-direction: row
    width: 100%
    justify-content: flex-start

.events-container
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    width: 100%


@media (max-width: 1024px)
    .events-container
        align-items: center
        width: 100%
        margin: 0%;






