@import 'variables.sass';
@import 'mixins.sass';

.workouts-view
  display: flex
  margin-left: 3%
  @media (max-width: 1024px)
    margin-left: 0%
  @media (max-width: 750px)
    margin-left: 0%

.workouts-form
  margin-top: 0%
  display: flex
  flex-direction: column
  align-self: flex-start
  form
    display: flex
    flex-direction: column

.workouts-dropdowns-container
  display: flex;
  flex-flow: wrap;

.Collapsible
  cursor: pointer
