{
  "prettier.jsxSingleQuote": true,
  "prettier.singleQuote": true,
  "prettier.semi": true,
  "prettier.useTabs": true,
  "editor.formatOnSave": true,
  "prettier.disableLanguages": ["markdown"],
  "prettier.requireConfig": true
}
