/* Vertical Navbar */
.main-content {
  background-color: #b13c2d;
}

.vertical-navbar {
  width: 150px;
  height: 75vh;
  background-color: #b13c2d;
  height: 94.5vh;
}

.vertical-navbar li {
  margin-top: 10px;
  line-height: 15px;
  text-align: left;
}

.nav-link {
  color: white;
  font-size: 18px;
}

.nav-link:hover {
  color: black;
}

.nav-logout {
  cursor: pointer;
}

/* Navbar for Tablet View */
@media screen and (max-width: 780px) {
  .vertical-navbar {
    width: 120px;
    height: 1200px;
  }
}

/* Phone View, killing off vertical navbar */
@media screen and (max-width: 470px) {
  .vertical-navbar {
    display: none;
  }

  .top-content {
    display: none;
  }

  .main-content {
    width: 100%;
    margin-top: 0;
    display: flex;
    flex-direction: column;
  }

  .main-navigation {
    padding-bottom: 0;
  }

  .hor-navbar {
    width: 100%;
  }
}

/* Normal desktop view to kill off horizontal navbar when it gets too big */
@media screen and (min-width: 450px) {
  .hor-navbar {
    display: none;
  }
}
