.Footer {
  background-color: rgba(0, 0, 0, 0.075);
}
.Footer > .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  min-height: 100px;
  margin: 0px auto;
}
.Footer__note {
  font-size: 18px;
  text-align: center;
}
.Footer__links {
  
}
.Footer__links > ul {
  display: flex;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
.Footer__links > ul > a > li {
  color: #000000;
  font-size: 18px;
  padding: 0px 20px;
  border-right: 1px solid #bbb;
}
.Footer__links > ul > a:last-child > li{
  border-right: 0px;
  padding-right: 0px;
}
