body {
  background: #f8f8f8;
}
a {
  text-decoration: none;
}

h1 a {
  color: #6cc;
}
.price-table-wrapper {
  font-family: 'Lato', sans-serif;
  text-align: center;
}
.price-table-wrapper .featured-table {
  box-shadow: 0px 0px 19px -3px rgba(0, 0, 0, 0.36);
}
.price-table-wrapper .pricing-table {
  display: inline-block;
  border: 1px solid #c8c8c8;
  border-radius: 10px;
  background: white;
  margin: 20px;
  transition: all 0.3s ease-in-out;
}
.price-table-wrapper .pricing-table__header {
  padding: 20px;
  font-size: 20px;
  color: #fdfdfd;
  background: #206db5;
}
.price-table-wrapper .pricing-table__price {
  color: #206db5;
  padding: 20px;
  margin: auto;
  font-size: 40px;
  font-weight: 500;
}
.price-table-wrapper .pricing-table__button {
  display: block;
  background: #206db5;
  text-decoration: none;
  padding: 20px;
  color: white;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.price-table-wrapper .pricing-table__button:before {
  position: absolute;
  left: -20%;
  top: -10%;
  content: '';
  width: 60%;
  height: 220%;
  transform: rotate(-30deg);
  background: white;
  opacity: 0.3;
  transition: all 0.3s ease-in-out;
}
.price-table-wrapper .pricing-table__button:after {
  position: absolute;
  content: '>';
  top: 0;
  right: 0;
  font-size: 25px;
  padding: 15px;
  padding-right: 40px;
  color: white;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.price-table-wrapper .pricing-table__button:hover {
  background: #206db5;
}
.price-table-wrapper .pricing-table__list {
  padding: 20px;
  color: #000000;
  list-style-type: none;
}
.price-table-wrapper .pricing-table__list li {
  padding: 15px;
  border-bottom: 1px solid #c8c8c8;
}
.price-table-wrapper .pricing-table__list li:last-child {
  border: none;
}
.price-table-wrapper .pricing-table:hover {
  box-shadow: 0px 0px 19px -3px rgba(0, 0, 0, 0.36);
}
.price-table-wrapper .pricing-table:hover .pricing-table__button {
  padding-left: 0;
  padding-right: 35px;
}
.price-table-wrapper .pricing-table:hover .pricing-table__button:before {
  top: -80%;
  transform: rotate(0deg);
  width: 100%;
}
.price-table-wrapper .pricing-table:hover .pricing-table__button:after {
  opacity: 1;
  padding-right: 15px;
}

/*
*********************
MEET THE TEAM SECTION
********************* 
*/

#cubeContainer {
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
#cubeWrapper {
  width: 650px;
  display: flex;
  flex-direction: column;
}
#cubes {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.head {
  text-align: center;
}
.head h1 {
  font-weight: 400;
  position: relative;
}
.head h1:before,
.head h1:after {
  content: '';
  height: 1px;
  width: 150px;
  background: #aaa;
  display: block;
  position: absolute;
  top: 50%;
}
.head h1:before {
  left: 0;
}
.head h1:after {
  right: 0;
}
.moreTeam {
  text-align: center;
  margin-top: 25px;
}
.moreTeam a {
  color: #444;
  text-decoration: none;
  padding: 10px 25px;
  border-radius: 5px;
  transition: 0.2s ease;
}
.moreTeam a svg {
  padding-left: 5px;
}
.moreTeam a:hover {
  background: #ddd;
}
.p1 {
  /* background: url("https://static.pexels.com/photos/324658/pexels-photo-324658.jpeg") */
  background: url('../assets/tomsbighead.jpg') center;
}
.p2 {
  background: url('../assets/anthonyg.jpg') center;
}
.p3 {
  background: url('../assets/jamessbighead.png') center;
}
.p4 {
  background: url('https://static.pexels.com/photos/91227/pexels-photo-91227.jpeg')
    center;
}
.p5 {
  background: url('../assets/akshay.jpeg') center;
}
.p6 {
  background: url('https://avatars3.githubusercontent.com/u/34618112?s=460&v=4')
    center;
}
.cube {
  height: 200px;
  width: 200px;
  background-size: cover;
  border: 5px solid #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3), 0 2px 3px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-right: 10px;
  margin-bottom: 10px;
}
.cube .name {
  position: absolute;
  bottom: 15px;
  left: 15px;
  text-shadow: 0 1px 3px #000;
  z-index: 3;
}
.cube .name h1 {
  font-size: 16px;
  color: #fff;
  margin: 0;
  user-select: none;
}
.cube .name p {
  color: #fff;
  margin: 0;
  font-size: 14px;
  user-select: none;
}
.cube .content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
  opacity: 0;
  transition: 0.5s ease;
  z-index: 2;
}
.cube .content ul {
  padding: 0;
  margin: 0 0 55px 0;
  cursor: default;
  text-align: center;
}
.cube .content ul li {
  list-style: none;
  display: inline-block;
  margin: 0 11.05px 10px 11.05px;
  top: 40px;
  position: relative;
  opacity: 0;
  transition: 0.3s ease;
}
.cube .content ul li a {
  display: block;
  color: #fff;
  font-size: 20px;
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  transition: 0.3s ease;
}
.cube .content ul li a:hover {
  background: rgba(255, 255, 255, 0.2);
}
.cube:hover .content {
  opacity: 1;
}
.cube:hover .content li {
  top: 15px;
  opacity: 1;
  transition: 0.7s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.cube:hover .content li:nth-child(2) {
  transition-delay: 0.2s;
}
.cube:hover .content li:nth-child(3) {
  transition-delay: 0.4s;
}
.cube:hover .content li:nth-child(4) {
  transition-delay: 0.6s;
}
.cube:hover .content h1 {
  top: 0;
}
.cube:hover .content p {
  top: 10px;
}
.cube:hover .innerBorder {
  width: 90%;
  height: 90%;
  opacity: 1;
}
.cube:hover .darken {
  opacity: 1;
}
.cube:last-child,
.cube:nth-child(3) {
  margin-right: 0;
}
.darken {
  background: rgba(38, 50, 56, 0.85);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.3s ease;
}
.innerBorder {
  width: 100%;
  height: 100%;
  position: absolute;
  border: 1px solid #fff;
  z-index: 1;
  opacity: 0;
  transition: 0.5s ease;
}
