/*
Fade content bs-carousel with hero headers
Code snippet by maridlcrmn (Follow me on Twitter @maridlcrmn) for Bootsnipp.com
*/

#header {
    background-color: #0f0f0f;
    padding: 5px 10px;
    color: white;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    
    top: 0;
    width: 100%;
    transition: 0.2s;
}
body {
    background-color: #0f0f0f;
}
/********************************/
/*       Fade Bs-carousel       */
/********************************/

.fade-carousel {
    position: relative;
    height: 100vh;
}
.fade-carousel .carousel-inner .item {
    height: 100vh;
}
.fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: #ffc107;
    border-color: #ffc107;
    opacity: .7;
}
.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  opacity: 1;
}

/********************************/
/*          Hero Headers        */
/********************************/

.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
}

.hero h1 {
    font-size: 6em;    
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s; 
}

.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s;    
}

/********************************/
/*            Overlay           */
/********************************/

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #080d15;
    opacity: .7;
}

/********************************/
/*          Custom Buttons      */
/********************************/

.btn.btn-lg {padding: 10px 40px;}

.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
    color: #f5f5f5;
    background-color: #1abc9c;
    border-color: #1abc9c;
    outline: none;
    margin: 20px auto;
}

/********************************/
/*       Slides backgrounds     */
/********************************/

.fade-carousel .slides .slide-1, 
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3, 
.fade-carousel .slides .slide-4,
.fade-carousel .slides .slide-5,
.fade-carousel .slides .slide-6,
.fade-carousel .slides .slide-7,
.fade-carousel .slides .slide-8,
.fade-carousel .slides .slide-9,
.fade-carousel .slides .slide-10 {
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.fade-carousel .slides .slide-1 {
  background-image: url("../../assets/img/apple-606761_1920.jpg"); 
}

.fade-carousel .slides .slide-2 {
  background-image: url("../../assets/img/artificial-intelligence-3382507_1920.jpg");
}

.fade-carousel .slides .slide-3 {
  background-image: url("../../assets/img/artificial-intelligence-blur-close-up-546819.jpg");
}

.fade-carousel .slides .slide-4 {
    background-image: url("../../assets/img/ipad-605439_1920.jpg"); 
  }

  .fade-carousel .slides .slide-5 {
    background-image: url("../../assets/img/ipad-820272_1920.jpg"); 
  }

  .fade-carousel .slides .slide-6 {
    background-image: url("../../assets/img/laptop-2557586_1920.jpg"); 
  }

  .fade-carousel .slides .slide-7 {
    background-image: url("../../assets/img/office-620822_1920.jpg"); 
  }

  .fade-carousel .slides .slide-8 {
    background-image: url("../../assets/img/student-849825_1920.jpg"); 
  }

  .fade-carousel .slides .slide-9 {
    background-image: url("../../assets/img/work-731198_1920.jpg"); 
  }

  .fade-carousel .slides .slide-10 {
    background-image: url("../../assets/img/fotis-fotopoulos-LJ9KY8pIH3E-unsplash.jpg"); 
  }

/********************************/
/*          Media Queries       */
/********************************/

@media screen and (min-width: 980px){
    .hero { width: 980px; }    
}

@media screen and (max-width: 640px){
    .hero h1 { font-size: 4em; }    
}