html, body {
  margin: 0;
  padding: 0;
  /* font-family: 'Love Ya Like A Sister', cursive !important; */
  font-family: 'Acme', sans-serif !important;
  background-color: #584573;
  height: 880px;
  font-size: 16px;
}

#root {
  height: 100%;
}


