.ClientFeedback {
    height: 100vh;
    background: linear-gradient(to bottom right, #6d2e46, #9A94BC);

}

.ClientFeedback .Container {
	margin: 2%;
}

.fContainer {
    margin-left: -3%;
    margin-top: -5%;
    width: 130%;
    
}





.ClientFeedback .Title {
	margin-right: 15%;
	font-size: 3.3rem;
	color: white;
	font-family: "Poiret One", cursive;
	text-align: center;
	margin-bottom: 0%;
}

.ClientFeedback .FeedbackContainer {
    border: 5px solid #6d2e46;
    background: white;
    padding: 1.2%;
    width: 112%;
    height: 90%;
}

.Label{
	font-size: 200%;
	padding: 2%;
	padding-bottom: 7%;
	font-weight: 100;
	font-family: "Poiret One", cursive;
}

.ClientFeedback .FeedbackForm .FeedbackFormat {
   padding: 2%;
   margin-top: 2%;
   
}



.PanelSize  {
	padding-top: 4%;
	padding-left: 10%;
	padding-right: 10%;
	
	
} 

.StarGuide {
	margin-top: 3.3%;
	display: flex;
	justify-content: center;
	margin-bottom: 2.5%;
	font-size: 150%;
	
}



.StarItem {
	margin-right: 5%;
	color: gold;
	padding-left: 0%;
}

.FeedbackButton {
	margin-left: 88%;
	margin-bottom: 2%;
}
